.global-header {
    // background: #fff;
}

.global-wrap {
    flex: 1 1 auto;

    .article-content {
        p {
            margin-bottom: 24px;
            text-indent: 2em;
        }

        @media (max-width: 640px) {
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}
